%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
    %title Exosaurs High Scores
  %body
    %script{:type => "text/javascript", :src => "starfield.js"}
    %canvas{:id => "starfield", :width => 500, :height => 400}

    .content
      %h1 EXOSAURS HIGH SCORES

      %table
        - @winners.each do |winner|
          %tr
            %td.name #{winner.name}
            %td.score #{winner.tweets.size}
